/* calculator css */


#calculator {
    width: 12em;
    margin: 10% auto;
    display: grid;
    grid-template-columns: repeat(4, 3em); 
    grid-template-rows: repeat(5, 3em);
    grid-gap: 1em 1em;
}

#invoerveld {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

#butCorrection {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

/* button row one on calculator */
#but7 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#but8 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#but9 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#butDivide {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

/* button row two on calculator */
#but4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#but5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#but6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#butMultiply {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

/* button row three on calculator */
#but1 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#but2 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#but3 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

#butAdd {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

/* button row four on calculator */
#but0 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

#butPeriod {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

#butResult {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

#butSubtract {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}